$color-BlueDream: #0072F0;
$color-LAConfidential: #0022AC;


.form-group i {
    color: $color-LAConfidential;
    margin-right: 10px;
}

.btn.btn-primary {
    width: 150px;
    height: 45px;
    border-radius: 8px;
}



