<app-logo-header></app-logo-header>
<div class="col-12">
  <div class="container">
    <div class="menu-badge">
      <div>
        <a routerLink="products" class="badge badge-primary">Product Selection</a>
      </div>
      <br>
      <div>
          <a routerLink="invoice" class="badge badge-primary">
            <span class="align-middle">Invoice Screen</span> 
          </a>
      </div>
      <br>
      <div>
        <a routerLink="../logout" class="badge badge-primary">Logout</a>
      </div>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
<app-footer></app-footer>



